BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 90
SpacesBeforeTrailingComments: 2
MaxEmptyLinesToKeep: 4
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true
AlignAfterOpenBracket: Align
BreakBeforeBraces: Allman
PenaltyBreakAssignment: 50