Source: procprog
Section: utils
Priority: optional
Maintainer: Peter Frost <mail@pfrost.me>
Build-Depends: debhelper-compat (= 12), help2man
Standards-Version: 4.4.1
Homepage: https://github.com/badcf00d/procprog
Vcs-Git: https://github.com/badcf00d/procprog.git

Package: procprog
Architecture: any
Depends: ${shlibs:Depends} ${misc:Depends}
Description: Monitor program output and system usage in a single terminal
 Runs a child process, showing
 the program output showing and system
 usage statistics in the same terminal.
